.film-card {
  min-height: 100%;
  box-shadow: none !important;
  background: transparent !important;
}
.film-card__action-area > span {
  display: none;
}
.film-card__content {
  padding: 10px !important;
  display: flex !important;
  justify-content: center !important;
}
.film-card__image {
  height: 342px;
  max-width: 100%;
  max-height: 500px;
  border-radius: 15px !important;
}
.film-card__rate {
  top: 5px;
  left: 5px;
  position: absolute;
}
.film-card__year {
  top: 5px;
  right: 5px;
  position: absolute;
}
