$main-gray-color: #b9b6b6;
$fs-14: 14px;
$fs-16: 16px;
$border-radius-10: 10px;
$border-radius-30: 30px;

/* BASIC COLOR THEME */
//$main-font-color: #ffffff;
//$secondary-font-color: #dadada;
//$main-bc-color: #1A405F;
//$secondary-bc-color: #2e719a;
//$third-bc-color: #275f88;

/* SECOND COLOR THEME*/
//$main-font-color: #e50914;
//$secondary-font-color: #7a3131;
//$main-bc-color: #151517;
//$secondary-bc-color: #333333;
//$third-bc-color: #232222;

/* THIRD COLOR THEME */
$main-font-color: #ffffff;
$secondary-font-color: #dadada;
$main-bc-color: #283655;
$secondary-bc-color: #4d648d;
$third-bc-color: #2e4a7a;

