.home-film-card {
  display: flex;
  margin: 10px 5px 30px;
  width: 140px;
}

.home-film-card-image {
  border-radius: 10px;
  width: 140px;
  height: 230px;
  background-size: cover;
  background-position: center;
}

.home-film-card-details {
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-size: 12px;
}
.home-film-card-rating,
.home-film-card-year {
  margin: 5px;
  padding: 1px 5px;
  border-radius: 6px;
}
.home-film-card-rating {
  background-color: #66bb6a;
}

.home-film-card-year {
  background-color: #90caf9;
}

.home-film-card-title {
  width: 100%;
  margin-top: 7px;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--main-color);
}
