@import 'src/assets/styles/variables/variables';

.actor-details {
  display: flex;
  flex-direction: row;

  &__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__info {
    width: 100%;
    display: flex;
    padding: 30px;
  }

  &__image {
    height: 40vh;
    max-width: 230px;
    object-fit: cover;
    border: 1px solid $main-bc-color;
    border-radius: $main-border-radius;
    box-shadow: $main-box-shadow;
  }

  &__about {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 30px;
    max-width: 1000px;

    &--list {
      font-size: 18px;
      padding-bottom: 5px;
    }
  }

  &__known-for {
    margin-left: 30px;
  }

  &__all-films {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: max-content;
    background-color: $main-bc-color;
    border-radius: $main-border-radius;
    box-shadow: $main-box-shadow;

    &--title {
      margin: 15px auto;
      font-size: 25px;
      border-bottom: 3px solid $main-font-color;
    }
  }
}
