@import 'src/assets/styles/variables/variables';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}
.main {
  flex: 1 0 auto;
  display: flex;
  overflow-x: hidden;
  background-color: $secondary-bc-color;
}
.main-container {
  width: 100%;
  overflow-x: hidden;
  padding: 30px 0;
}
#root {
  height: 100%;
}
