@import 'src/assets/styles/variables/variables';

.is-active {
  background-color: $third-bc-color;
  border-radius: $main-border-radius;
  box-shadow: $secondary-box-shadow;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main-bc-color;
  padding: 0 3%;
  z-index: 1;
  box-shadow: $secondary-box-shadow;

  &__logo {
    height: 35px;
    width: 140px;
  }

  &__right-side {
    display: flex;
  }

  &__profile {
    color: $main-font-color;
    margin-left: 15px;
  }
}
