/* DESKTOP */

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bc-color);
  padding: 0 3%;
}

.header-logo {
  color: var(--main-color);
}

.header-center-item {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.header-search {
  margin-left: -17px;
  padding: 5px 10px 5px 21px;
  background: var(--third-bc-color);
  border-radius: 0 var(--border-radius-30) var(--border-radius-30) 0;
  z-index: 0;
}

.header-search-button {
  color: var(--main-color);
}

.header-info {
  background-color: var(--secondary-bc-color);
  border-radius: var(--border-radius-30);
  line-height: 0;
  z-index: 1;
}

.header-links {
  display: flex;
  margin: 0;
  padding: 0;
  color: var(--main-color);
}

.header-li {
  list-style-type: none;
  padding: 18px 0;
}

.header-link {
  color: var(--main-color);
  margin: 3px;
  padding: 5px 10px;
}

.is-active {
  background-color: var(--third-bc-color);
  border-radius: var(--border-radius-30);
  transition: 0.5s;
}

.header-right-side {
  display: flex;
}

.header-profile {
  color: var(--main-color);
  margin-left: 15px;
}

/* MOBILE */

@media (max-width: 850px) {
  .header-center-item {
    margin-left: 0;
  }
}

@media (max-width: 730px) {
  .header-open {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: var(--secondary-bc-color);
    overflow: hidden;
  }

  .header-menu {
    cursor: pointer;
    z-index: 2;
  }

  .header-links-mobile {
    margin: 25% auto;
    padding: 0;
  }

  .header-li-mobile {
    list-style-type: none;
    text-align: center;
    margin: 20% 0;
  }

  .header-link-mobile,
  .header-profile-mobile {
    color: var(--main-color);
    font-size: 22px;
    padding: 7px 25px;
  }

  .header-link-mobile:hover,
  .header-profile-mobile:hover {
    background-color: var(--main-bc-color);
    border-radius: var(--border-radius-30);
    transition: 0.3s;
  }

  .header-logo-mobile {
    color: var(--main-color);
    margin-left: 100px;
    z-index: 2;
  }

  .header-search-mobile {
    z-index: 2;
    margin-left: 15px;
  }

  .header-profile-mobile {
    margin: 0 50px;
    background-color: var(--third-bc-color);
    border-radius: var(--border-radius-30);
  }
}
