/* DESKTOP */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--main-bc-color);
  padding: 0 3%;
}

.header-left-side {
  display: flex;
}

.header-logo {
  color: var(--main-color);
  margin-right: 15px;
}

.header-center-item {
  display: flex;
  align-items: center;
  margin-left: -7%;
}

.header-search {
  margin-left: -17px;
  padding: 5px 10px 5px 21px;
  background: #282828;
  border-radius: 0 50px 50px 0;
  z-index: 0;
}

.header-search-button {
  color: var(--main-color);
}

.header-info {
  background-color: var(--secondary-bc-color);
  border-radius: 50px;
  line-height: 0;
  z-index: 1;
}

.header-links {
  display: flex;
  margin: 0;
  padding: 8px;
  color: var(--main-color);
}

.header-li {
  list-style-type: none;
  padding: 10px 3px;
}

.header-link {
  color: var(--main-color);
  margin: 10px;
}

.header-profile {
  color: var(--main-color);
}

/* MOBILE */

.header-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--secondary-bc-color);
}

.header-top {
  display: flex;
}

.header-menu {
  cursor: pointer;
  margin-right: 15px;
  z-index: 2;
}

.nn {
  display: flex;
  
}

.header-links-mobile {
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
}

.header-li-mobile {
  list-style-type: none;
  padding: 15px;
}

.header-link-mobile {
  color: var(--main-color);
  margin: 10px;
  font-size: 20px;
}

.header-link-mobile:hover {
  border-bottom: 1px solid var(--main-color);
}

.header-logo-mobile {
  color: var(--main-color);
  z-index: 2;
}

.header-search-mobile {
  z-index: 2;
}

.header-profile-mobile {
  color: var(--main-color);
  padding: 10px;
  justify-content: center;
  z-index: 2;
}

.header-profile-mobile:hover {
  border-bottom: 1px solid var(--main-color);
}

@media (max-width: 850px) {
  .header-center-item {
    margin-left: 0;
  }
}