@import 'src/assets/styles/variables/variables';

.button {
  background-color: $main-bc-color;
  padding: 2px !important;
  border-radius: $main-border-radius !important;
  border: 1px solid $main-font-color;
  box-shadow: $main-box-shadow !important;
}

.lang-btn {
  height: 16px;
  color: $main-font-color !important;
  border: none !important;
  background-color: $main-bc-color !important;
  padding: 0 !important;
  border-radius: $main-border-radius !important;
}

.lang-active {
  color: $secondary-bc-color !important;
  background-color: $main-font-color !important;
  border-radius: $main-border-radius !important;
  padding: 0 !important;
}
