.button {
  background-color: var(--main-bc-color);
  padding: 2px !important;
  border-radius: var(--border-radius-30)!important;
  box-shadow: none !important;
  border: 1px solid var(--main-color);
}

.lang-btn {
  height: 16px;
  color: var(--main-color) !important;
  border: none !important;
  background-color: var(--main-bc-color) !important;
  padding: 0 !important;
  border-radius: var(--border-radius-30) !important;
}

.lang-active {
  color: var(--secondary-bc-color) !important;
  background-color: var(--main-color) !important;
  border-radius: var(--border-radius-30) !important;
  padding: 0 !important;
}