.lang-btn {
  height: 21px;
  color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  background-color: var(--secondary-bc-color) !important;
  z-index: 2;
}

.lang-active {
  color: var(--secondary-bc-color) !important;
  background-color: var(--main-color) !important;
}