@import 'src/assets/styles/variables/variables';

.footer {
  height: 70px;
  text-align: center;
  background: $main-bc-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 3%;

  &__logo {
    height: 30px;
    width: 140px;
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin: 10px;
    color: $main-font-color;
  }

  &__rights {
    text-align: right;
    color: $main-font-color;
  }
}

@media (max-width: 550px) {
  .footer {
    height: 300px;
    flex-direction: column;
    padding: 50px 0;

    &__rights,
    &__links {
      width: 100%;
    }

    &__rights {
      text-align: center;
    }
  }
}
