.footer {
  height: 70px;
  text-align: center;
  background: var(--main-bc-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 30px 0 30px;
}

.footer-logo {
  color: var(--main-color);
}

.footer-links {
  display: flex;
}

.footer-link {
  margin: 10px;
  color: var(--main-color);
}

@media (max-width: 500px) {
  .footer {
    height: 300px;
    flex-direction: column;
    padding: 50px;
  }
}
