.footer {
  height: 70px;
  text-align: center;
  background: var(--main-bc-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 3%;
}

.footer-block {
  width: 33%;
}

.footer-logo {
  text-align: left;
  color: var(--main-color);
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: 10px;
  color: var(--main-color);
}

.footer-rights {
  text-align: right;
}

@media (max-width: 550px) {
  .footer {
    height: 300px;
    flex-direction: column;
    padding: 50px;
  }

  .footer-logo,
  .footer-rights,
  .footer-links {
    width: 100%;
  }

  .footer-logo,
  .footer-rights {
    text-align: center;
  }
}
